# generally ignore anything, BUT ...
*
# any files including a dot
!*.*
# license file
!LICENSE
# any subdictionaries
!*/
# ignore temporary MATLAB files
*.m~
# ignore python cache files cache
*__pycache__/*
*ebosc/__pycache__/*
*.cache*
*.egg-info
.ipynb_checkpoints
.vscode
# ignore .mat files, except tutorial file
*.mat
!*data/1160_rest_EEG_Rlm_Fhl_rdSeg_Art_EC.mat
# ignore example output (any numpy output for now)
*.npy
# ignore any output images
*.png
# ignore any csf files
*.csv
!*data/1160_rest_EEG_Rlm_Fhl_rdSeg_Art_EC.csv
# ignore Mac profile files
.DS_Store
# ignore any files ending with _
._*
# ignore python distribution files
build/
dist/